{% extends 'layout.twig' %}

{% block body %}
  <h1>Editer la voiture {{ car.name }}</h1>
  <form method="post" action="/voiture/{{ car.id }}/edit/ok/" class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="form-group">
      <label for="name">Nom: </label>
    <input class="form-control" type="text" name="name" id="name"  value="{{ car.name }}">
  </div>
  <div class="form-group">
    <label for="engine">Motorisation: </label>
    <input class="form-control" type="text" name="engine" id="engine" value="{{ car.engine }}">
  </div>
  <div class="form-group">
    <label for="color">Couleur: </label>
    <input class="form-control" type="text" name="color" id="color" value="{{ car.color }}">
  </div>
  <div class="form-group">
    <label for="model">Modèle: </label>
    <input class="form-control" type="text" name="model" id="model" value="{{ car.model }}">
  </div>
  <div class="form-group">
    <label for="fuel">Carburant: </label>
    <input class="form-control" type="text" name="fuel" id="fuel" value="{{ car.fuel }}">
  </div>
  <div class="form-group">
    <label for="brandId">Marque: </label>
    <select name="brandId" id="brandId" class="form-control">
      {% for brand in brands %}
        <option value="{{ brand.id }}"  {% if brand.id == car.brandId %} selected {% endif %}>{{ brand.name }}</option>
      {% endfor %}
    </select>
  </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </div>
  </form>
{% endblock %}
