{% extends 'layout.twig' %}

{% block body %}
	<h1><i class="fas fa-car"></i> Liste des voitures</h1>
	<table class="table table-ligh shadow-lg p-3 mb-5 bg-white rounded">
		<thead>
			<th>Nom</th>
			<th>Fuel</th>
			<th>Marque</th>
			<th></th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			{% for car in cars %}
			<tr>
				<td>{{ car.name }}</td>
				<td>{{ car.fuel }}</td>
				<td>{{ car.brand.name }}</td>
				<td><a href="/voiture/{{ car.id }}/view"><i class="far fa-eye"></i></a></td>
				<td><a href="/voiture/{{ car.id }}/edit"><i class="far fa-edit"></i></a></td>
				<td><a href="/voiture/{{ car.id }}/delete" style="color:red;"><i class="far fa-trash-alt"></i></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-primary" href="/voiture/brand/add"><i class="fas fa-plus"></i> Ajouter une marque</a>
	<a class="btn btn-primary" href="/voiture/add"><i class="fas fa-plus"></i> Ajouter une voiture</a>
{% endblock %}
